#search-js.container {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: var(--search-js-backdrop-bg);
  justify-content: center;
  align-items: flex-start;
  padding-top: var(--search-js-top);

  .modal {
    width: var(--search-js-width);
    max-height: var(--search-js-height);
    display: flex;
    background: var(--search-js-modal-bg);
    border-radius: 8px;
    flex-direction: column;
    box-shadow: var(--search-js-modal-box-shadow);
    animation-name: animatetop;
    animation-duration: 0.8s;

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }

    .modal-header {
      padding: 10px 10px 0px 10px;
      .search-container {
        background: var(--search-js-search-input-bg);
        width: 100%;
        height: 50px;
        border-radius: 6px;
        outline: none;
        box-shadow: none;
        border: 0.11em solid var(--search-js-theme);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-icon {
          width: 60px;
          height: 40px;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .search-input {
          width: 100%;
          color: var(--search-js-text-color);
          height: 40px;
          outline: none;
          font-family: var(--search-js-font-family);
          box-shadow: none;
          background: transparent;
          border: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 16px;
        }

        ::-webkit-input-placeholder {
          color: var(--search-js-input-placeholder-color);
        }

        ::-moz-placeholder {
          color: var(--search-js-input-placeholder-color);
        }

        ::-ms-placeholder {
          color: var(--search-js-input-placeholder-color);
        }

        ::placeholder {
          color: var(--search-js-input-placeholder-color);
        }
      }
    }

    #search-js-result {
      display: none;
    }

    .modal-content {
      padding: 10px;
      padding-top: 10px;
      flex: 1;
      overflow: scroll;

      .no-recent {
        color: var(--search-js-text-color);
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
      }

      .items {
        display: flex;
        flex-direction: column;

        .item {
          display: flex;
          cursor: pointer;
          flex-direction: row;
          background: var(--search-js-item-bg);
          padding: 10px;
          margin-bottom: 5px;
          border-radius: 5px;
          align-items: center;
          box-shadow: var(--search-js-item-box-shadow);

          .item-icon {
            margin-right: 8px;
          }

          .item-title {
            color: var(--search-js-text-color);
            font-size: 15px;
            margin-bottom: 4px;
          }
          .item-description {
            font-size: 13px;
            color: var(--search-js-text-color);
          }
        }

        .item:hover {
          background: var(--search-js-theme);
          color: white;

          svg path {
            stroke: white !important;
          }

          .item-title {
            color: white;
          }

          .item-description {
            font-size: 13px;
            color: white;
          }
        }
      }
    }

    .modal-footer {
      box-shadow: var(--search-js-modal-footer-box-shadow);
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 10px;
      color: var(--search-js-text-color);
      font-weight: 300;
      font-size: 13px;

      .keyboard-button {
        align-items: center;
        background: var(--search-js-keyboard-button-bg);
        border: 0;
        border-radius: 2px;
        box-shadow: var(--search-js-keyboard-button-box-shadow);
        color: var(--search-js-text-color);
        display: flex;
        height: 18px;
        justify-content: center;
        margin-right: 0.6em;
        padding: 0 0 1px;
        font-size: 10px;
        width: 20px;
        font-weight: bold;
      }
    }
  }
}
